<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static\style.css">
</head>
<body>
    <form action="/home" method="POST">
        <label for="nameShare">Name of the Share</label>
        <br>
        <input type="text" name="nameShare" id="nameShare">
        <br>

        <label for="sharePrice">Purchase Price of One Share</label>
        <br>
        <input type="text" name="sharePrice" id="sharePrice">
        <br>

        <label for="number">Number Of Shares Purchased</label>
        <br>
        <input type="text" name="number" id="number">
        <br>

        <label for="link">Link</label>
        <br>    
        <input type="text" name="link" id="link">

        <br>
        <button type="submit" class="button"></button>
    </form>
</body>
</html>